{% trans_default_domain 'FOSUserBundle' %}

<div class="list-group-item">{{ 'profile.show.username'|trans }}: <span class="pull-right">{{ user.username }}</span></div>
<div class="list-group-item">{{ 'profile.show.email'|trans }}: <span class="pull-right">{{ user.email }}</span></div>